{% load static %}
{% load i18n %}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->
            <div class="col-md-12 col-lg-12 mb-12 d-flex align-items-center justify-content-center h-100 w-100" style="padding-bottom:15px!important;">
                <h2 class="text-center text-uppercase text-secondary">Mimoun Bijjou - Blog</h2>
            </div>
            <div class="col-md-12 col-lg-12 mb-12">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-link fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'freelancer-gh-pages/assets/img/portfolio/blog-1.jpg' %}" alt="" />
                </div>
            </div>
            <div class="col-md-12 col-lg-12 mb-12">
                <div class="portfolio-item mx-auto">
                    <div class="container-fluid p-0" style="padding-top:15px!important;">
                        <p class="lead">{% trans 'A simple blog which can be used for posting, managing and publishing articles. The blog was developed using the Django web framework.' %}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>