{% extends 'blog/base.html' %}
{% load i18n %}


{% block page_header_background %}
    {% if post_instance.post_image %}
        {{ post_instance.post_image.url }}
    {% endif %}
{% endblock %}




{% block page_header_heading %}
    {% include 'blog/detail/post_heading.html' with post=post_instance %}
{% endblock %}


{% block content %}
      <!-- Post Content -->
      <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for content in post_instance.content_set.all %}
                    {% if content.pk == content_pk %}
                        {% include 'content/edit/form.html' %}
                        <div class="text-right">
                            <form method="POST" action="{% url 'content:delete' pk=post_instance.pk content_pk=content.pk %}">{% csrf_token %}
                                <button type="submit" class="btn btn-danger">{% trans 'Delete Content' %}</button>
                            </form>
                        </div>
                    {% else %}
                        {% include 'blog/detail/content_block.html' with content=content object=post_instance edit=True %}
                    {% endif %}
                {% endfor %}
            </div>
          </div>
        </div>
      </article>


      <script>
        let form = document.getElementById("content_edit_form");
        form.scrollIntoView();
      </script>
{% endblock %}

