{% extends 'blog/base.html' %}



{% block page_header_background %}
    {% if post_instance.post_image %}
        {{ post_instance.post_image.url }}
    {% endif %}
{% endblock %}




{% block page_header_heading %}
    {% include 'blog/detail/with_pk/post_heading.html' with post=post_instance %}
{% endblock %}


{% block content %}
      <!-- Post Content -->
      <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for content in post_instance.content_set.all %}
                        {% include 'blog/detail/content_block.html' with content=content object=post_instance edit=True %}
                {% endfor %}

                {% include "content/new/form.html" %}

                <div class="text-right">
                    <form method="POST" action="{% url 'post:delete' title=post_instance.slug_title %}">{% csrf_token %}
                        <button type="submit" class="btn btn-danger">Beitrag löschen</button>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </article>
{% endblock %}
