{% if content.type == "PARAGRAPH" %}
    <p>{{ content.content }} {% include 'blog/detail/content_edit.html' %}</p>
{% elif content.type == "SUBTITLE" %}
    <h2 class="section-heading">{{ content.content }} {% include 'blog/detail/content_edit.html' %}</h2>
{% elif content.type == "BLOCKQUOTE" %}
    <blockquote class="blockquote">{{ content.content }} {% include 'blog/detail/content_edit.html' %}</blockquote>
{% elif content.type == "IMAGE" %}
    {% if content.image.image_file %}
            <img class="img-fluid" src="{{ content.image.image_file.url }}" alt="">
    {% endif %}
    <span class="caption text-muted">{{ content.content }} {% include 'blog/detail/content_edit.html' %}</span>
{% elif content.type == "CODE" %}
    <pre><code>{{ content.content }}</code></pre>
    <span class="caption text-muted"> {% include 'blog/detail/content_edit.html' %}</span>
{% endif %}
