{% load i18n %}

<div class="post-heading">
    <h1>{{ post.title }}</h1>
    {% if user.is_authenticated %}
        <div class="text-right">
           <p>
                <a style="text-decoration: none;color:#fff;" href="{% url 'post:edit' pk=post.pk %}">
                    {% trans 'Edit Post' %}&nbsp; <span class="fa fa-pen"></span>
                </a>
           </p>
        </div>
    {% endif %}
    {% if post.sub_title %}
        <h2 class="subheading">{{ post.sub_title|default:"" }}</h2>
    {% endif %}
    <span class="meta">{% trans 'Posted by' %}
      <a href="#">{{ post.author }}</a>
      {% trans 'on' %} {{ post.created_datetime }}</span>
</div>
