{% extends 'blog/base.html' %}
{% load i18n %}


{% block page_header_background %}
    {% if post_image %}
        {{ post_image.url }}
    {% endif %}
{% endblock %}




{% block page_header_heading %}
    {% if user.is_authenticated %}
      <div class="post-heading">
        {% if object %}
            {% include 'post/edit/form.html' %}
        {% else %}
            {% include 'blog/detail/without_pk/post_heading.html' %}
        {% endif %}
      </div>
    {% else %}
        {% if object %}
            {% include 'blog/detail/with_pk/post_heading.html' with post=object %}
        {% else %}
            {% include 'blog/detail/without_pk/post_heading.html' %}
        {% endif %}
    {% endif %}
{% endblock %}


{% block content %}
      <!-- Post Content -->
      <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for content in object.content_set.all %}
                    {% include "blog/detail/content_block.html" with edit=True %}
                {% endfor %}

                {% if user.is_authenticated %}
                    <hr/>

                    <p>{% trans 'Add New Content' %}</p>

                    {% include "content/new/form.html" with post_instance=object %}

                    {% if object %}
                        <div class="text-right">
                            <form method="POST" action="{% url 'post:delete' title=object.slug_title %}">{% csrf_token %}
                                <button type="submit" class="btn btn-danger">{% trans 'Delete Post'  %}</button>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
          </div>
        </div>
      </article>

      <script>
        // scroll to last edited content
        let last_url = "{{ request.GET.last }}";
        let links = document.getElementsByTagName("a");
        for(let i=0;i<links.length; i++){
            let link = links[i];
            if(link.pathname === last_url){
                link.parentElement.scrollIntoView();
            }
        }
      </script>

{% endblock %}

