{% extends 'blog/base.html' %}
{% load static %}


{% block page_header_heading %}
    {% if post %}
        {% include 'blog/detail/with_pk/post_heading.html' %}
    {% else %}
        {% include 'blog/detail/without_pk/post_heading.html' %}

    {% endif %}
{% endblock %}


{% block page_header_background %}
    {% if post_image %}
        {{ post_image.url }}
    {% endif %}
{% endblock %}

{% block content %}
      <!-- Post Content -->
      <article>
        {% if request.user.is_authenticated %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="text-right">
                            {% if post %}
                                <a href="{% url 'blog:post-export' title=post.slug_title %}" class="btn btn-warning">JSON</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              {% for content in post.content_set.all %}
                  {% include 'blog/detail/content_block.html' with content=content%}
              {% endfor %}
            </div>
          </div>
        </div>
      </article>
{% endblock %}