{% load i18n %}
{% load static %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
 <input name="next" type="hidden" value="{{ redirect_to }}" />
 <select name="language" class="custom-select" id="inputGroupSelect04" onchange="this.form.submit()">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}

    {% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}
            style="background-image:url({% static 'famfamfam-flag-icons/png/de.png' %});">
            {{ language.name_translated }}
        </option>
    {% endfor %}
 </select>
</form>
